.form {
	width: 700px;
	background-color: #ff8c000e;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, #ff8c0000 35px, #ffd00034 70px);
}

button {
	background-color: #00a8b4f3;
}

button:hover {
	transform: scale(1.025);
}