.measure {
    color: rgba(12, 12, 12, 0.80);
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5);
}

.form-btn input {
    color: rgba(12, 12, 12, 0.80);
}

.register {
    text-shadow: none;
}

.register:hover {
    filter: brightness(1.25);
}