.App {
  text-align: center;
  margin-bottom: 2.5em;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;/* everything stay, even if you scroll of things stays exactly where it is*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;/* this class should be below everything else on our website*/
}

/*make sure everything is full screen, the background is fixed, and finally, to make sure that
everything is underneath the rest of our app
z-index: can be used when you use position fixed or position absolute. This tells you
what layer you want the image to be on. */
